[DEFAULT]
working_dir = ~/Documents/UNI/8.Semester/
on_conflict = no-delete
show_not_deleted = false
status = yes

[auth:ilias]
type = keyring
username = ugkrj

[crawl:RN]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2916759
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:RS]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2909463
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:ÖRII]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2892639
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:Infosec]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2902520
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:Numerik]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2909366
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:Digitale Spiele]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2843111
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:ProPa]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2757025
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"
# [crawl:FOO]
#   type = kit-ilias-web
#   auth = auth:ilias
#   target = ID
#   transform =
#
#   # Ignore unneeded folders
#   Online-Tests --> !
#   Vorlesungswerbung --> !
#
#   # Rename folders
#   Lehrbücher --> Vorlesung
#
#   # Note the ">>" arrow head which lets us apply further rules to files moved to "Übung"
#   Übungsunterlagen -->> Übung
#   # make file/folder names lowercase and replace ' ' to '-'
#     (.*) -re->> "{g1.lower().replace(' ', '-')}"
#
#   # Move exercises to own folder. Rename them to "Blatt-XX.pdf" to make them sort properly
#   "Übung/(\d+). Übungsblatt.pdf" -re-> Blätter/Blatt-{i1:02}.pdf
#
#   # Move solutions to own folder. Rename them to "Blatt-XX-Lösung.pdf" to make them sort properly
#   "Übung/(\d+). Übungsblatt.*Musterlösung.pdf" -re-> Blätter/Blatt-{i1:02}-Lösung.pdf
#
#   # The course has nested folders with the same name - flatten them
#   "Übung/(.+?)/\\1" -re-> Übung/{g1}
