[DEFAULT]
working_dir = ~/Documents/UNI/7.Semester/
on_conflict = no-delete
status = no

[auth:ilias]
type = keyring
username = ugkrj

[crawl:DBS]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2652381
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:TGI]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2733272
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:GKI]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2775838
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:Datenbanken]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2781190
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:ÖRI]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2754283
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

[crawl:GRU]
  type = kit-ilias-web
  auth = auth:ilias
  target = 2694889
  transform =
    (.*) -re->> "{g1.lower().replace(' ', '-')}"

# [crawl:FOO]
#   type = kit-ilias-web
#   auth = auth:ilias
#   target = ID
#   transform =
#
#   # Ignore unneeded folders
#   Online-Tests --> !
#   Vorlesungswerbung --> !
#
#   # Rename folders
#   Lehrbücher --> Vorlesung
#
#   # Note the ">>" arrow head which lets us apply further rules to files moved to "Übung"
#   Übungsunterlagen -->> Übung
#   # make file/folder names lowercase and replace ' ' to '-'
#     (.*) -re->> "{g1.lower().replace(' ', '-')}"
#
#   # Move exercises to own folder. Rename them to "Blatt-XX.pdf" to make them sort properly
#   "Übung/(\d+). Übungsblatt.pdf" -re-> Blätter/Blatt-{i1:02}.pdf
#
#   # Move solutions to own folder. Rename them to "Blatt-XX-Lösung.pdf" to make them sort properly
#   "Übung/(\d+). Übungsblatt.*Musterlösung.pdf" -re-> Blätter/Blatt-{i1:02}-Lösung.pdf
#
#   # The course has nested folders with the same name - flatten them
#   "Übung/(.+?)/\\1" -re-> Übung/{g1}
