[SddmGreeterTheme]
Name=Custom Theme
Description=A custom sddm theme
Author=Marius Reddig
Type=sddm-theme
Version=1.5
Website=https://github.com/MariusReddig/custom-nix-sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=custom-sddm-theme
Theme-API=2.11
